
.box-green {
  background-color: #9EAB9A;
  width: fit-content;
  margin: 0 auto;
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.box-cream {
  background-color: #FFF4E9;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.map-header {
  color: #ffffff;        
  font-family: 'Roboto', sans-serif;  
  font-size: 24px;
  font-weight: bold;
}

.custom-button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}


.custom-button:hover{
  background-color: #00796B;
}

.control-panel {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  z-index: 1;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.control-panel h3 {
  margin-top: 0;
}

.input {
  margin-bottom: 10px;
}