
.box-green {
  background-color: #9EAB9A;
  width: fit-content;
  margin: 0 auto;
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.box-cream {
  background-color: #FFF4E9;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%; /* ✅ Use 100% instead of 100vw */
  box-sizing: border-box;
}

