
.box-green {
  background-color: #9EAB9A;
  width: fit-content;
  margin: 0 auto;
  padding: .3rem;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.box-cream {
  background-color: #FFF4E9;
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}

.map-header {
  color: #ffffff;        
  font-family: 'Roboto', sans-serif;  
  font-size: 24px;
  font-weight: bold;
  margin-left: 17px;
  text-decoration: underline;
}

.custom-button {
  background-color: #009688;
  border: none;
  color: white;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}


.custom-button:hover{
  background-color: #00796B;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  z-index: 1;
  max-height: 90%;
  overflow-y: auto;
  border-radius: 4px;
  width: 225px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 13px;
}

.top-bar{
  position: absolute;
  top: 10px;      /* distance from top of map */
  width: 95%;    /* or narrower width if you want */
  display: flex;
  justify-content: right; /* center children horizontally */
  align-items: center;     /* center vertically */
  pointer-events: auto;    /* so controls are clickable */
  gap: 1rem;               /* spacing between controls */
  z-index: 10; 
}

.control-panel h3 {
  margin-top: 0;
}

.input-box-map{
  width: 50px;
  height: 20px;
}

.option-box-map{
  width: 50px;
  height: 20px;
}

.map-style{
  position: relative;
  height: 500px;
  width: 1000px;
  display: block;
}

.flex-container-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

hr {
    display: block;
    height: 1.5px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

.check-button {
  padding: 5px;
  background-color: #ffffff;
}

.map-button{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: 04AA6D;
  border: none;
  cursor: pointer;
  font-size: 12;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  width: 75px;
}

.map-button.clicked{
  background-color: #04AA6D;
  color: white;
}

.custom-select {
  background-color: #04AA6D;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 4px;
  font-size: 12;
  cursor: pointer;
  width: 75px;
}


