html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

@font-face {
     font-family: 'inter';
     src: url('./fonts/Inter.ttc') format('ttc'),
          url('./fonts/InterVariable-Italic.ttf') format('ttf'),
          url('./fontsInterVariable.ttf') format('ttf');
     font-weight: normal;
     font-style: normal;
   }

body {
  font-family: 'YourFontName', sans-serif;
}